#comments {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 3px;
}
.comment {
  border-bottom:  1px solid rgb(230, 230, 230);
  margin: 0 0;
  padding: .5rem .5rem;
}
#comments div:last-child {
  border-bottom: none;
}
p.username {
  font-size: small;
  text-transform: lowercase;
}