<span class="commentsLabel">Comments</span>
<div class="container-fluid mx-0 px-0" id="comments">
  <div
    class="comment repeat col-12 "
    ng-repeat="comment in $ctrl.comments"
  >
    <a ui-sref="user({ userId: comment.userId })">
      <p class="username d-inline">
        {{ comment.username }}
      </p>
    </a>
    <p class="c-body">{{ comment.body }}</p>
  </div>
</div>