<div class="container">
  <div class="postFull">
    <span class="postTitle row col-12">
      {{ $ctrl.data.title }}
    </span>
      <span class="citation">
        Submitted by
        <a ui-sref="user({ userId: $ctrl.data.userId })">
          {{ $ctrl.users.get($ctrl.data.userId).username }}
        </a>
      </span>
    <span class="postBody row col-12">
      <p>
        {{$ctrl.data.body}}
      </p>
    </span>
  </div>
  <comments />
</div>