.postFull {
  margin-bottom: 5vw;
  border: 1px solid #676767;
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 5vmax;
  background-color: rgb(240, 243, 252);
}
.postTitle {
  color: #3D3F3F;
  font-size: large;
  font-style: oblique;
  text-transform: capitalize;
}
@media screen and (min-width: 576px) {
  .postTitle {
    font-size: x-large;
  }
}
.postBody {
  padding: 1rem 1.5rem;
}
.citation {
  font-size: 12px;
  text-transform: lowercase;
}