*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.unselectable a:hover {
  text-decoration: unset;
}
body {
  background: #fff;
  color: #676767;
  font-family: "PT Sans", sans-serif;
  font-smooth: auto;
  webkit-font-smoothing: antialiased;
  moz-osx-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  padding-bottom: 10vw;
}

.navbar {
  padding-top: 0;
}
header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
#nav-title {
  display: inline;
  position: relative;
  top: 14px;
  color: #3276a6;
  text-decoration: unset;
  font-size: xx-large;
  font-weight: 200;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 576px) {
  #nav-title {
    font-size: 48px;
  }
  #nav-title:hover {
    font-weight: bold;
  }
  #logo {
    width: 100px;
    height: 100px;
  }
}

#logo {
  position: relative;
  display: inline;
  width: 75px;
  height: 75px;
}
main {
  display: flex;
  flex-flow: row nowrap;
}

main.ng-enter {
  transition: 0.5s;
  opacity: 0;
}

main.ng-enter-active {
  opacity: 1;
}

.back-btn {
  padding-left: 2em;
  opacity: 0.5;
}
.back-btn:hover {
  opacity: 1;
}

/************************
*      ANIMATIONS       *
*************************/

.repeat.ng-enter,
.repeated-item.ng-move {
  transition: all 0.5s linear;
  opacity: 0;
}

.repeat.ng-enter.ng-enter-active,
.repeat.ng-move.ng-move-active {
  opacity: 1;
}

.repeat.ng-leave {
  animation: 0.5s my_animation;
}

@keyframes my_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
