div.post {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  text-align: left;
  border: 1px solid #676767;
  padding: 1rem;
  margin: 2px;
}
div.entry {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 1.25rem;
}
div.rank {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  width: 25px;
  overflow: visible;
  padding: 1rem 0;
}
p.title {
  font-family: sans-serif;
  margin-bottom: 0 !important;
}
p.tagline {
  font-size: x-small;
  margin-bottom: 0;
}
.uvoted {
  color: orange;
}
.dvoted {
  color: #7178E1;
}