<div
  ng-repeat="post in $ctrl.posts.data"
  class="container-fluid post repeat"
>
  <div class="rank">
    <a ng-click="$ctrl.upvote(post.id)">
      <i class="fa fa-arrow-up" ng-class="{ uvoted: $ctrl.voted[post.id] == 1 }"></i>
    </a>
    <span ng-class="{ uvoted: $ctrl.voted[post.id] == 1, dvoted: $ctrl.voted[post.id] == -1 }">
      {{ post.rank }}
    </span>
    <a ng-click="$ctrl.downvote(post.id)">
      <i class="fa fa-arrow-down" ng-class="{ dvoted: $ctrl.voted[post.id] == -1 }"></i>
    </a>
  </div>
  <div class="entry">
    <p class="title">
      <a ui-sref="post({ postId: post.id })">
        {{ post.title }}
      </a>
    </p>
    <p class="tagline">
      Submitted by <a ui-sref="user({ userId: post.userId })">
        {{ $ctrl.users.get(post.userId).username }}
      </a>
    </p>
  </div>
</div>