<div class="container d-flex flex-wrap-reverse">
  <div class="col-md-8 posts">
    <h5>Posts</h5>
    <p ng-repeat="post in $ctrl.posts" class="repeat">
      <a ui-sref="post({ postId: post.id })">
        {{ post.title }}
      </a>
    </p>
  </div>
  <div class="col-md-4 profile">
    <h5 id="username" ng-hide="$ctrl.editing" ng-click="$ctrl.toggleEdit()">
      {{ $ctrl.data.username }}
      <i class="fa fa-pencil"></i>
    </h5>
    <input ng-show="$ctrl.editing" ng-model="$ctrl.data.username" ng-blur="$ctrl.submit($event)" ng-keypress="$ctrl.keyHandler($event)"
      type="text" autocomplete="nickname" maxlength="25">
    <p>{{ $ctrl.data.name }}</p>
    <p>{{ $ctrl.data.email }}</p>
    <p>{{ $ctrl.data.website }}</p>
    <p>{{ $ctrl.data.company.name }}</p>
  </div>
</div>